In [4]:
import numpy as np
import pandas as pd

# import the npy file called xy_coordinates.npy 
file= np.load('xy_coordinates.npy')

# convert the npy file to a dataframe
df = pd.DataFrame(file, columns=['x', 'y'])

In [5]:
file.shape

(8, 2)

In [6]:
df

           x           y
0 -13.333542  205.599298
1 -14.079918  212.572127
2 -13.968442  217.319328
3 -13.766154  218.304545
4 -13.933026  215.323152
5 -11.158050  211.013517
6  -9.716203  199.423267
7 -52.183491  189.464020